body {
  margin: auto;
  text-align: center;
  font-family: Ubuntu;
  min-width: 320px;
}

body, input, button, textarea {
  /* font-size: large; */
}

button {
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

#qrcode {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

#qr-content {
  resize: vertical;
  overflow: auto;
  text-align: center;
  height: 60px;
  margin: auto;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

h1 {
  margin: 0px;
  font-size: x-large;
}

.input-container, .button-container {
  display: flex;
  margin: auto;
  gap: 20px;
}

#qr-size-slider {
  width: 250px;
}
