body {
  margin: auto;
  text-align: center;
  font-family: Ubuntu;
}

body, input, button, textarea {
  font-size: large;
}

button {
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

#qrcode {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 20px; */
  margin: 20px;
}

#qr-content {
  resize: both;
  overflow: auto;
  text-align: center;
  height: 60px;
  margin: auto;
  padding: 10px;
  max-width: 90%;
  min-width: 200px;
  width: 300px;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}

/* any direct sub elements of container */
.container > * {
  /* padding: 10px; */
  /* margin: 10px; */
}

.input-container, .button-container {
  display: flex;
  margin: auto;
  /* flex-direction: row; */
  gap: 30px;
}

#qr-size-slider {
  width: 300px;
}
